<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.20.0" targetFramework="net40" />
  <package id="NetMQ" version="3.3.3.4" targetFramework="net40" />
  <package id="NLog" version="4.2.2" targetFramework="net40" />
  <package id="NLog.Config" version="3.2.1" targetFramework="net40" />
  <package id="NLog.Schema" version="3.2.1" targetFramework="net40" />
  <package id="Topshelf" version="3.3.1" targetFramework="net40" />
  <package id="Topshelf.NLog" version="3.3.1" targetFramework="net40" />
  <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net40" />
</packages>